.container {
	max-width: 1728px;
	margin: 0 auto;
	padding: 0 180px;

	@media (max-width: 1439px) {
		padding: 0 100px;
	}

	@media (max-width: 1279px) {
		padding: 0 60px;
	}
  
	@include vp-1023 {
		padding: 0 20px;
	}
}
