// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-gainsboro: #e2e2e2;
$color-blue-charcoa: #1d252d;
$color-mischka: #A7A8AA;
$color-rustic-red: #390417;
$color-fallow: #c49a6c;
$color-trout: #4A5157;
$color-ecru-white: #D6D2C4;

$color-white-50: rgba(255, 255, 255, 0.5);


// Typography

$ff-roboto: "Roboto Flex", "Arial", sans-serif;
$ff-tenor: "Tenor Sans", "Arial", sans-serif;
$ff-ibm: "IBM Plex Sans", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;
