.best-tours {
  margin: 0 0 80px;

  @include vp-1023 {
    margin: 0 0 60px;
  }

  &__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.01em;
    margin: 0 0 30px;

    @include vp-1023 {
      font-size: 32px;
      line-height: 36px;
    }

    @include vp-767 {
      font-size: 28px;
      line-height: 32px;
      margin: 0 0 20px;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: grid;
    gap: 20px;
    grid-template-columns: 350px 350px 380px;

    @include vp-1023 {
      grid-template-columns: 1fr 1fr;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }

  &__item--grid-vertical {
    grid-column: 3;
    grid-row: 1 / 3;

    @include vp-1023 {
      grid-column: 1 / 3;
      grid-row: 3;
    }

    @include vp-767 {
      grid-column: unset;
      grid-row: 4;
    }
  }

  &__item--grid-flat {
    grid-column: 1 / 3;

    @include vp-767 {
      grid-column: unset;
    }
  }

  
}
