.best-tour-card {
  border-radius: 24px;
  background-color: $color-lavender;
  padding: 20px 30px;
  min-height: 332px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @include vp-1023 {
    border-radius: 20px;
    min-height: 264px;
    padding: 20px 60px;
  }

  @include vp-767 {
    min-height: 260px;
    padding: 20px;
  }

  &--bg-green {
    background-color: $color-foam;
  }

  &--bg-blue {
    background-color: $color-alice-blue;
  }

  &__img {
    border: 4px solid $color-deep-lilac;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    margin: 0 0 20px;
    border-radius: 200px;

    @include vp-1023 {
      border: 2px solid #9E5FC4;
      width: 100px;
      height: 100px;
      margin: 0 0 15px;
    }

    @include vp-767 {
      margin: 0 0 17px;
    }
  }

  &__name {
    color: $color-deep-lilac;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.02em;
    margin: 0;
    
    @include vp-1023 {
      font-size: 24px;
      line-height: 28px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 24px;
    }
  }

  &__text {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 20px;

    @include vp-1023 {
      font-size: 16px;
      line-height: 20px;
      margin: 0 0 15px;
    }
  }

  &__info {
    margin: 0 0 20px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;

    @include vp-1023 {
      font-size: 14px;
      line-height: 18px;
      margin: 0 0 15px;
    }

    @include vp-767 {
      font-size: 13px;
      line-height: 16px;
    }
  }
}
