.hero-background {
	margin: 0;
	padding: 0;
	list-style-type: none;
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	width: 100%;
	min-height: 700px;
	background-color: #e9ded4;
	user-select: none;
	z-index: -1;
}

.hero-background__layer {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	left: 50%;
	transform: translatex(-50%);
}

.hero-background__layer--first {
	z-index: 1;
	width: 1366px;
}

.hero-background__layer--secondary {
	z-index: 2;
}

.hero-background__layer--third {
	z-index: 3;
	mix-blend-mode: color-burn;
}

.hero-background__layer--fourth {
	z-index: 4;
	width: 1366px;
}

.hero-background__img {
	position: absolute;
}

.hero-background__img--xl {
	top: 0;
	left: -1px;
	width: 100%;
	height: 100%;
}

.hero-background__img--circle {
	right: 2.4%;
	bottom: 12%;
	width: 660px;
	height: 660px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	animation: rotateZ 100s linear infinite;
	background-color: #fbce51;
	border-radius: 50%;
}

.hero-background__img--king {
	top: 23.5%;
	right: 11.6%;
}

.hero-background__img--qween {
	top: 38.5%;
	right: 37.1%;
}

.hero-background__img--horse {
	bottom: -52px;
	right: 24.4%;
}

.hero-background__img--pawn {
	bottom: 2.7%;
	right: 3.2%;
}

@keyframes rotateZ {
	from {
		transform: rotateZ(0deg);
	}

	to {
		transform: rotateZ(360deg);
	}
}

/* Медиа-запросы */
@media (min-width: 1920px) {
	.hero-background__img--city {
		object-fit: contain;
	}
}

@media (max-width: 1366px) {
	.hero-background__layer--secondary {
		width: 1366px;
	}
}

@media (max-width: 1080px) {
	.hero-background {
		min-height: 600px;
	}

	.hero-background__img--city {
		top: auto;
		bottom: 0;
		height: 500px;
	}

	.hero-background__img--horse {
		width: 140px;
		bottom: -20px;
	}

	.hero-background__img--king {
		width: 126px;
		top: auto;
		bottom: 165px;
		right: 22.6%;
	}

	.hero-background__img--qween {
		width: 100px;
		right: 41%;
		top: auto;
		bottom: 111px;
	}

	.hero-background__img--circle {
		right: 13%;
		bottom: 13%;
		width: 500px;
		height: 500px;
	}
}

@media (max-width: 768px) {
	.hero-background {
		min-height: 774px;
	}

	.hero-background__layer--first,
	.hero-background__layer--secondary {
		width: 768px;
	}

	.hero-background__img--city {
		object-position: 68%;
		height: 400px;
	}

	.hero-background__img--horse {
		width: 100px;
		left: 47%;
	}

	.hero-background__img--king {
		bottom: 165px;
		right: 20%;
		width: 80px;
		transform: rotate(8deg);
	}

	.hero-background__img--qween {
		width: 70px;
		left: 45%;
		bottom: 111px;
	}

	.hero-background__img--pawn {
		width: 55px;
		right: 25%;
	}

	.hero-background__img--circle {
		padding: 6px;
		width: 360px;
		height: 360px;
		left: 37%;
		bottom: 48px;
	}
}

@media (max-width: 540px) {
	.hero-background__img--city {
		object-position: 102.9%;
		height: 385px;
	}

	.hero-background__img--horse {
		width: 98px;
	}

	.hero-background__img--king {
		right: 36.6%;
		width: 60px;
	}

	.hero-background__img--qween {
		width: 60px;
		left: 33.9%;
	}

	.hero-background__img--circle {
		width: 298px;
		height: 298px;
		left: 29.6%;
		bottom: 66px;
	}
}

