.custom-checkbox {
    display: flex;
    justify-content: start;
    align-items: center;
}

.custom-checkbox__label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.04em;
    color: #090909;
    cursor: pointer;
    user-select: none;
    position: relative;
    transition: color 0.2s ease-in;
}

.custom-checkbox__label::before {
    content: '';
    width: 14px;
    height: 14px;
    border: 1px solid #AD8361;
}

.custom-checkbox__label::after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    left: 4px;
    top: 4px;
}

.custom-checkbox__field:checked + .custom-checkbox__label::after {
    background-color: #AD8361;
}

.custom-checkbox__field:not(:disabled) + .custom-checkbox__label:hover, 
.custom-checkbox__field:focus-visible + .custom-checkbox__label {
    color: #AD8361;
}

.custom-checkbox__field:disabled + .custom-checkbox__label {
    opacity: 0.5;
}

