@keyframes moveStars {
	0% {
		top: 0;
		transform: translateY(-100%);
	}
	100% {
		top: 100%;
		transform: translateY(100%);
	}
}

@keyframes introLogo {
	0% {
		transform: translateX(-150%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes introNote {
	0% {
		transform: translateX(150%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes introReturnPage {
	0% {
		clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
	}
	100% {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		pointer-events: all;
	}
}

@keyframes introBtn {
	0% {
		transform: translateY(-50px);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

// Ракета
@keyframes introRocket {
	0% {
		opacity: 0;
		bottom: 10%;
		left: 0;
		transform: translateY(100%) rotate(60deg) scale(0.3);
	}

	10% {
		opacity: 1;
	}

	40% {
		bottom: 13%;
		left: 30%;
		transform: translateY(0) rotate(55deg);
	}

	55% {
		bottom: 18%;
		left: calc(50% - 105px);
		transform: translate(0) rotate(0) scale(1);
	}
	100% {
		opacity: 1;
		bottom: 0;
		left: calc(50% - 105px);
		transform: translate(0) rotate(0) scale(1);
	}
}

@keyframes flameAnimation {
	0% {
		transform: translateY(5px) scale(1, 0.9);
		filter: brightness(1);
	}
	50% {
		transform: translateY(-20px) scale(0.8, 1.1);
		filter: brightness(1.2);
	}
	100% {
		transform: translateY(5px) scale(1, 0.9);
		filter: brightness(1);
	}
}

@keyframes firstSparkMove {
	0% {
		transform: translate(5px, -20px);
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	60% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translate(-5px, 30px);
	}
}

@keyframes secondarySparkMove {
	0% {
		transform: translate(15px, -30px);
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	60% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
	100% {
		transform: translate(5px, 30px);
	}
}

@keyframes thirdSparkMove {
	0% {
		transform: translate(7px, -30px);
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	60% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
	100% {
		transform: translate(7px, 30px);
	}
}

@keyframes fourthSparkMove {
	0% {
		transform: translate(-5px, -20px);
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	60% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
	100% {
		transform: translate(5px, 30px);
	}
}

@keyframes fifthSparkMove {
	0% {
		transform: translate(-15px, -30px);
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	60% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
	100% {
		transform: translate(-5px, 30px);
	}
}

@keyframes sixthSparkMove {
	0% {
		transform: translate(-7px, -30px);
		opacity: 0;
	}

	20% {
		opacity: 1;
	}

	60% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
	100% {
		transform: translate(-7px, 30px);
	}
}

// Босс
@keyframes introBoss {
	0% {
		transform: translateY(-100%) scale(0.2) rotate(30deg);
	}
	40% {
		transform: translate(100px, 50px) scale(0.8) rotate(-30deg);
	}
	60% {
		transform: translate(-100px, 100px) scale(0.9) rotate(30deg);
	}
	100% {
		transform: translate(0) scale(1) rotate(360deg);
	}
}

@keyframes bossMove {
	0% {
		left: calc(50% - 220px);
		opacity: 1;
		filter: grayscale(0);
	}
	15% {
		left: 70%;
	}
	30% {
		left: calc(50% - 220px);
		transform: rotate(30deg);
	}
	31% {
		opacity: 1;
	}
	32% {
		opacity: 0;
	}
	33% {
		opacity: 1;
	}
	34% {
		opacity: 0;
	}
	35% {
		opacity: 1;
	}
	36% {
		opacity: 0;
	}
	37% {
		opacity: 1;
		transform: scale(1) rotate(30deg);
	}
	40% {
		transform: scale(0.8) rotate(30deg);
		left: calc(50% - 220px);
	}
	50% {
		left: 15%;
	}
	60% {
		left: calc(50% - 220px);
		transform: scale(0.8) rotate(0);
	}
	61% {
		opacity: 1;
	}
	62% {
		opacity: 0;
	}
	63% {
		opacity: 1;
	}
	64% {
		opacity: 0;
	}
	65% {
		opacity: 1;
	}
	66% {
		opacity: 0;
	}
	67% {
		opacity: 1;
		transform: scale(0.8) rotate(0);
	}
	70% {
		opacity: 1;
		transform: scale(0.6) rotate(0);
		left: calc(50% - 220px);
	}

	80% {
		left: 70%;
	}
	90% {
		transform: scale(0.6) rotate(-60deg);
		left: calc(50% - 220px);
		filter: grayscale(0);
	}
	97% {
		left: calc(50% - 220px);
		transform: scale(0.6) rotate(-60deg);
		filter: grayscale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0) rotate(720deg);
		filter: grayscale(1);
		left: 100%;
		opacity: 0;
	}
}

// Пули
@keyframes firstBulletMove {
	0% {
		bottom: 200px;
		left: calc(50% - 10px);
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	50% {
		bottom: 65%;
		opacity: 1;
	}

	100% {
		bottom: 65%;
		opacity: 0;
	}
}

@keyframes secondBulletMove {
	0% {
		bottom: 200px;
		left: calc(50% - 10px);
		opacity: 0;
	}
	5% {
		opacity: 1;
		transform: scale(1);
	}
	50% {
		bottom: 70%;
		opacity: 1;
		transform: scale(1.4);
	}

	80% {
		bottom: 70%;
		opacity: 0;
	}
	100% {
		bottom: 70%;
		opacity: 0;
	}
}

@keyframes thirdBulletMove {
	0% {
		bottom: 200px;
		left: calc(50% - 10px);
		opacity: 0;
	}
	5% {
		opacity: 1;
		transform: scale(1);
	}
	50% {
		bottom: 75%;
		opacity: 1;
		transform: scale(1.8);
	}

	80% {
		bottom: 75%;
		opacity: 0;
	}
	100% {
		bottom: 70%;
		opacity: 0;
	}
}
