.header {
  position: relative;
  overflow: hidden;
}

.header__anim {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  animation: anim-block 2s steps(1) alternate 5s forwards;
  overflow: hidden;
}

.header__green {
  height: 100%;
  width: 100%;
  position: absolute;
  top: -1px;
  left: 0;
  background-color: rgba(135, 242, 154, 1);
  animation: header-bg 6s steps(4) alternate 0.5s forwards;
  opacity: 0;
}

.header__cubes {
  position: absolute;
  top: 0;
  left: -1px;
  height: 100%;
  width: 100%;
}

.header__cube {
  background-color: #121C25;
  position: absolute;
  bottom: -1px;
  left: 0;
  opacity: 0;
}

.header__cube:nth-child(1) {
  height: 285px;
  width: 35px;
  animation: black-cube-1 0.2s 1.7s linear alternate forwards;
}

.header__cube:nth-child(2) {
  height: 125px;
  width: 120px;
  left: 34px;
  animation: black-cube-1 0.2s 2.9s linear alternate forwards;
}

.header__cube:nth-child(3) {
  height: 60px;
  width: 200px;
  left: 153px;
  animation: black-cube-1 0.2s 4.1s linear alternate forwards;
}

.header__cube:nth-child(4) {
  height: 40px;
  width: 105px;
  left: 350px;
  animation: black-cube-1 0.2s 5.3s linear alternate forwards;
}

.header__picture {
  position: absolute;
  bottom: 0;
  left: 0;
  animation: devil-move 10s 10.2s linear infinite;
}

.header__image-big {
  animation: image-big 2s 8s ease-out alternate forwards;
}

.header__img {
  opacity: 0;
  animation: devil-img 0.2s 6s steps(1) alternate forwards;
}

.header__wrapper {
  display: flex;
  align-items: center;
  min-height: 388px;
}

.header__text {
  background-color: #121C25;
  width: 580px;
  padding: 172px 0 20px;
  position: relative;
}

.header__title-wrap {
  overflow: hidden;
  margin: 0 0 24px 0;
}

.header__title {
  margin: 0;
  font-size: 84px;
  font-family: "Press Start 2P", "Arial", sans-serif;
  font-weight: 400;
  line-height: 84px;
  color: #FFFFFF;
  text-transform: uppercase;
  transform: translateY(100%);
  animation: title 1s 0.3s steps(5) alternate forwards;
}

.header__title-accent {
  color: #87F29A;
}

.header__desc-wrap {
  overflow: hidden;
}

.header__description {
  transform: translateY(100%);
  animation: title 1s 0.7s steps(5) alternate forwards;
  margin: 0;
  font-size: 22px;
  line-height: 32px;
}

.header__burger {
  position: fixed;
  top: 32px;
  right: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  padding: 0;
  background-color: #87F29A;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}

.header__burger:hover {
  background-color: #44f161;
}

.header__burger:focus-visible {
  outline: none;
  background-color: #44f161;
}
