.courtyard {
	margin: 0 0 120px;

	@include vp-1023 {
		margin: 0 0 80px;
	}

	@include vp-767 {
		margin: 0 0 60px;
	}

	&__wrapper {
		margin: 0 0 120px;
		display: flex;
		justify-content: space-between;
		gap: 48px;
		align-items: center;

		@media (max-width: 1439px) {
			justify-content: center;
		}

		@include vp-1023 {
			margin: 0 0 80px;
		}

		@include vp-767 {
			margin: 0 0 60px;
			gap: 28px;
		}

		@media (max-width: 639px) {
			flex-direction: column;
			gap: 40px;
		}
	}

	&__image {
		width: 51.2%;
		flex-shrink: 0;

		@include vp-1023 {
			width: 46.7%;
		}

		@media (max-width: 639px) {
			width: 80%;
		}

		@media (max-width: 539px) {
			width: 100%;
		}
	}

	&__content {
		max-width: 495px;
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 30px;

		@include vp-1023 {
			gap: 20px;
		}

		@include vp-767 {
			gap: 15px;
		}
	}

	&__title {
		margin: 0;
		font-family: $ff-tenor;
		font-weight: 400;
		font-size: 34px;
		line-height: 44px;
		letter-spacing: -0.08em;
		color: $color-fallow;
		text-transform: uppercase;

		@media (max-width: 1439px) {
			font-size: 28px;
			line-height: 36px;
		}

		@include vp-1023 {
			font-size: 24px;
			line-height: 30px;
		}

		@include vp-767 {
			font-size: 20px;
			line-height: 24px;
		}
	}

	&__square {
		display: flex;
		justify-content: center;
		position: relative;

		&-arrow {
			width: 36%;
			height: 1px;
			background-color: $color-fallow;
			position: absolute;
			top: 32%;
			right: 0.6%;

			@media (max-width: 809px) {
				width: 35%;
				right: 0.8%;
			}

			@media (max-width: 539px) {
				width: 25%;
				top: 27.3%;
				right: 1.8%;
			}

			&--reverse {
				left: 0.6%;

				@media (max-width: 809px) {
					left: 0.8%;
				}

				@media (max-width: 539px) {
					left: 1.8%;
				}
			}

			&--reverse .courtyard__square-icon {
				left: 0;
				transform: translate(-50%, -50%) rotate(180deg);
			}
		}

		&-icon {
			position: absolute;
			right: 0;
			top: 0;
			transform: translate(50%, -50%);

			@media (max-width: 809px) {
				width: 10px;
				height: 8px;
			}
		}
	}
}
