.hero {
	margin: 0 0 120px;

	@include vp-1023 {
		margin: 0 0 80px;
	}

	@include vp-767 {
		margin: 0 0 60px;
	}

	&--footer {
		margin: 0;
	}

	&__wrapper {
		position: relative;
		width: 100vw;
		left: 50%;
		transform: translateX(-50%);
	}

	&__image {
		position: relative;
		width: 100%;
		height: auto;
	}

	&__heading {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);

		max-width: 800px;
		width: 100%;
		font-size: 60px;
		font-weight: 400;
		line-height: 70px;
		letter-spacing: -0.08em;
		text-align: center;
		text-transform: uppercase;
		font-family: $ff-tenor;
		padding: 30px;
		margin: 0;
		z-index: 1;

		@media (max-width: 1439px) {
			font-size: 56px;
			line-height: 60px;
		}

		@media (max-width: 1179px) {
			max-width: 640px;
			font-size: 48px;
			line-height: 50px;
		}

		@media (max-width: 833px) {
			max-width: 540px;
			font-size: 40px;
			line-height: 46px;
		}

		@media (max-width: 639px) {
			max-width: 360px;
			font-size: 28px;
			line-height: 36px;
			padding: 20px 0 0;
			position: relative;
		}
	}
}
