.socials {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	align-items: center;
	gap: 32px;

	@include vp-1023 {
		gap: 20px;
	}

	@include vp-767 {
		gap: 30px;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		color: $color-trout;
		outline: none;
		transition: color 0.2s ease;

		&:hover,
		&:focus-visible {
			color: $color-ecru-white;
		}
	}
}
