// Colors

$color-white: #ffffff;
$color-black: #000000;
$color-black-pearl: #121C25;
$color-light-green: #87F29A;


// Typography
$ff-play: "Play", "Arial", sans-serif;
$ff-press: "Press Start 2P", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;
