.swiper {
  width: 100%;
  min-height: 350px;

  @include vp-1023 {
    min-height: 280px;
  }

  @include vp-767 {
    min-height: 440px;
  }

  &-wrapper {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &-button-next,
  &-button-prev {
    outline: none;
    color: $color-safety-orange;
    transition: color $transition-300;

    @include vp-767 {
      top: 125px;
    }

    &:not(:disabled):hover,
    &:focus-visible {
        color: $color-white;
      }
  }

  &-pagination-bullet {
    background-color: $color-white;
    transition: background-color $transition-300, opacity $transition-300;

    &-active {
      background-color: $color-safety-orange;
    }
  }
  
}