// Colors

$color-white:          #ffffff;
$color-black:          #000000;
$color-nero:           #242424;
$color-ghost-white:    #f4f4f5;
$color-lavender:       #e0e5fa;
$color-foam:           #d2e8e5;
$color-alice-blue:     #e0effa;
$color-deep-lilac:     #9e5fc4;
$color-white-lilac:    #f2e5fa;
$color-nobel:          #a1a1a1;
$color-china-ivory:    #f9efcd;

$color-white-50:       rgba(255, 255, 255, 0.50);
$color-deep-lilac-50:  rgba(158, 95, 196, 0.50);

// Typography

$ff-exo: "Exo-2", "Arial", sans-serif;

// Viewport

$vp-tablet: 1023px;
$vp-mobile: 767px;
