.footer {
	padding: 40px 0;
	background-color: #f4f6fa;
}

.footer__wrapper {
	display: grid;
	grid-template-columns: 260px 1fr 400px;
	justify-content: space-between;
	gap: 60px;
}

.footer__left {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.footer__logo {
	margin: 0 0 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer__logo-icon {
	width: 157px;
	height: 56px;
	flex-shrink: 0;
}

.footer__phone {
	display: grid;
	gap: 2px;
}

.footer__text {
	margin: 0;
	font-size: 13px;
	line-height: 16px;
	color: #6a6e80;
}

.footer__tel {
	margin: 0 0 16px;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
}

.footer__feedback {
	margin: 8px 0 24px;
	display: flex;
	flex-direction: column;
    align-items: flex-start;
	gap: 12px;
}

.footer__location {
	margin: 8px 0 0;
	display: flex;
	align-items: center;
	gap: 4px;
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}

.footer__location-icon {
	width: 16px;
	height: 16px;
	flex-shrink: 0;
}

.footer__location-text {
	font-family: 'Noto Sans', 'Arial', sans-serif;
	font-weight: 500;
	font-size: 13px;
	line-height: 16px;
	color: #476bf0;
}

.footer__list {
	display: flex;
	gap: 14px 60px;
	padding: 20px 0 0;
	flex-wrap: wrap;
	margin: 0;
	list-style-type: none;
	align-content: flex-start;
}

.footer__item {
	width: 140px;
}

.footer__link {
	font-size: 14px;
	line-height: 18px;
}

.footer__right {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 20px 0 0;
	align-items: flex-start;
}

.footer__social {
	margin: 20px 0;
}

.footer__copyright {
	display: grid;
}

.footer__note {
	margin: 0 0 8px;
	font-size: 10px;
	line-height: 12px;
	color: rgba(106, 110, 128, 0.4);
}

.footer__lang-info {
	display: flex;
	align-items: center;
	gap: 8px;
}

.footer__lang-icon {
	width: 20px;
	height: 20px;
	flex-shrink: 0;
}

.footer__lang-text {
	font-size: 13px;
	line-height: 16px;
	color: #6a6e80;
}
