.header {
	padding: 16px 0;
}

.header__wrapper {
	display: flex;
	align-items: center;
	gap: 22px;
}

.header__logo-link {
	display: flex;
	margin: 0 auto 0 0;
	align-items: center;
	justify-content: center;
}

.header__logo-icon {
	width: 157px;
	height: 68px;
	flex-shrink: 0;
}

.header__toggle {
	display: flex;
	align-items: center;
	padding: 5px;
	gap: 2px;
	border: 1px solid #dbdfec;
	border-radius: 12px;
}

.header__lang {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 17px 22px;
	gap: 12px;
	border: 1px solid #dbdfec;
	border-radius: 12px;
}

.header__lang-text {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

.header__lang-icon {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
}
