.custom-input {
    width: 425px;
    position: relative;
    display: flex;
}

.custom-input__field {
    width: 100%;
    outline: none;
    border: none;
    font-family: inherit;
    padding: 16px 16px 16px 52px;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
}

.custom-input__field::placeholder {
    opacity: 1;
    font-size: 18px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.4);
}

.custom-input__icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 0.8);
    pointer-events: none;
}