.footer {
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.15);
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__inner-info {
  display: flex;
  align-items: center;
  gap: 24px;
}

.footer__copyright {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 166px;
}

.footer__copyright-icon {
  flex-shrink: 0;
  animation: copyright 2s ease-in-out infinite alternate;
}

.footer__copyright-text {
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.5);
}

@keyframes copyright {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(180deg);
  }
}

